body {
  	padding: 0;
	margin: 0;	
}
#e0_3 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:1024px;
	position:absolute;
}
#e2_63 { 
	color:rgba(82, 94, 114, 1);
	opacity:1;
	width:691px;
	height:205px;
	position:absolute;
	left:390px;
	top:98px;
	font-family:Red Rose;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_64 { 
	background-color:rgba(185, 197, 217, 1);
	opacity:1;
	width:1440px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}
#e2_65 { 
	background-color:rgba(169, 222, 138, 1);
	opacity:1;
	width:137px;
	height:52px;
	position:absolute;
	left:1264px;
	top:14px;
}
#e2_66 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96px;
	height:35px;
	position:absolute;
	left:1285px;
	top:23px;
	font-family:Red Rose;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:undefined;
}
#e2_67 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:187px;
	height:30px;
	position:absolute;
	left:1264px;
	top:978px;
	font-family:Red Rose;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:undefined;
}
